.VoucherCard {
  width: 12.5rem;
  padding-top: 0.625rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.313rem;
  cursor: pointer;
  user-select: none;
  color: black;
  text-decoration: none;

  img {
    object-fit: contain;
  }

  p {
    margin: 0.313rem 0;
    text-align: center;
  }
  
  .name-label {
    font-weight: bold;
  }

  .album-label {
    margin-bottom: 0.625rem;
  }

}