.SidebarTemplate {
  // width: 20%;
  width: 25vh;
  max-width: 14.375em;
  color: white;
  background-color: rgb(47, 52, 65);

  .title_section {
    height: 5rem;
    margin-bottom: 1.25rem;
    text-align: center;
    line-height: 5rem;
    font-size: 1.125rem;
    color: white;
    background-color: #ec1b5a;
    user-select: none;
  }

  .subtitle_section {
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    font-size: 1rem;
    color: white;
    background-color: rgb(52, 152, 219);
    user-select: none;
  }

  .link {
    width: 100%;
    padding: 1.25em 1.25rem;
    display: block;
    box-sizing: border-box;
    border-left: 5px solid rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    cursor: pointer;
    user-select: none;

    &:hover, &.active {
      color: white;
      background-color: rgb(23, 23, 25);
      border-left: 5px solid #ec1b5a;
    }
  }
}