.UserTemplate {
  height: auto;
  min-height: calc(100% - 100px);
  margin-bottom: 100px;

  .middle_section {
    display: flex;

    .SidebarTemplate {
      flex-shrink: 0;
    }
  
    .content_section {
      width: 100%;
      padding: 20px;
    }
  }
}