.Footer {
  min-width: calc(100% - 40px);
  height: 90px;
  padding: 20px;
  font-size: 12px;
  color: gainsboro;
  background-color: rgb(47, 52, 65);
  transform: translateY(-1px);

  .white {
    color: white;
  }

  .label {
    margin: 0;
  }
}