.Footer {
  min-width: calc(100% - 2.5rem);
  // height: 90px;
  padding: 1.25rem;
  font-size: 0.75rem;
  color: gainsboro;
  background-color: rgb(47, 52, 65);
  transform: translateY(-1px);

  .white {
    color: white;
  }

  .label {
    margin: 0;
  }
}