.Navbar {
  width: 100%;
  padding: 1.25em 0;
  // height: 50px;
  display: flex;
  align-items: center;
  color: white;
  background-color: rgb(47, 52, 65);

  a {
    text-decoration: none;
  }

  .nav-logo {
    margin-left: 2.5rem;
    color: #ec1b5a;
    font-family: Inter, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
  }

  .nav-items {
    width: 100%;
    display: flex;
    font-size: 1.25rem;

    .link_section {
      padding-left: 5%;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      .link {
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
        user-select: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
  
        &:hover, &.active {
          color: white;
        }
      }
    }

    .user_section {
      display: flex;
      align-items: center;
      font-size: 1rem;
      
      img {
        margin-right: 1em;
      }

      a {
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
        text-align: center;
      }

      .nav-item {
        max-width: 12.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .nav-item {
      margin-right: 1em;
    }

    .logout {
      cursor: pointer;
    }
  }

  @media screen and (max-width: 830px) {
    .nav-items {
      .link_section {
        .link span {
          display: none;
        }
      }
    }
  }

  @media screen and (max-width: 650px) {
    .link_section {
      margin: 0;
    }
    .user_section .username {
      display: none;
    }
  }

  @media screen and (max-width: 480px) {
    .nav-logo {
      display: none;
    }
    .link_section {
      justify-content: flex-start !important;
    }
  }
}