.Navbar {
  padding: 20px 0;
  display: flex;
  align-items: center;
  color: white;
  background-color: rgb(47, 52, 65);

  a {
    text-decoration: none;
  }

  .nav-logo {
    margin-left: 15px;
    color: #ec1b5a;
    font-family: Inter, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
  }

  .nav-items {
    width: 100%;
    display: flex;
    font-size: 20px;

    .link_section {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      .link {
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
  
        &:hover {
          color: white;
        }
      }
    }

    .user_section {
      display: flex;
      align-items: center;
      font-size: 16px;
      
      img {
        margin-right: 15px;
      }

      a {
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
      }
    }

    .nav-item {
      margin-right: 15px;
    }

    .logout {
      cursor: pointer;
    }
  }
}