.TradeDetailPage {
  margin: 0 10%;
  display: flex;
  flex-direction: column;

  .title-label {
    margin: 20px 0;
    font-size: 36px;
    text-align: center;
  }

  .cancel_button {
    background-color: #ececec;

    &:hover {
      background: gainsboro;
    }
  }

  .submit_button {
    color: white;
    background-color: rgb(206, 28, 73);

    &:hover {
      background-color: rgb(163, 33, 66);
    }
  }

  .remove_button {
    color: white;
    background-color: rgb(206, 28, 73);

    &:hover {
      background-color: rgb(163, 33, 66);
    }
  }

  .edit_button {
    color: white;
    background-color: #0dcaf0;

    &:hover {
      background-color: #11badc;
    }
  }

  .submit_section {
    margin-top: 10px;
    align-self: flex-end;

    .Button {
      width: 100px; height: 50px;
      margin-left: 15px;
    }
  }

  form {
    display: flex; flex-direction: column;
    text-align: center;

    .label {
      align-self: flex-start;
      font-size: 20px;
      margin: 15px 0 15px 0;
    }

    .label_area {
      margin: 20px 0;
      display: flex;
  
      .add_button {
        width: 50px; height: 35px;
        align-self: center;
        margin-left: 10px;
        border-radius: 50px;
        font-size: 16px;
        background-color: rgb(206, 28, 73);
        color: white;
  
        &:hover {
          background-color: rgb(163, 33, 66);
        }
      }
    }
  }

  .card_section {
    margin-top: 10px;
    text-align: center;

    .VoucherCard {
      margin: 0 25px 50px 25px;
      display: inline-block;

      &.active {
        outline: none;
        border: 1px solid rgb(206, 28, 73);
        box-shadow: 0px 0px 1px 1px rgb(206, 28, 73);
        transition: all 0.25s;
      }
    }

    .ImageCard {
      margin: 0 25px 50px 25px;
      display: inline-block;

      p {
        margin: 0;
        padding: 0;
        line-height: 40px;
        font-size: 16px;
      }

      &.active {
        outline: none;
        border: 1px solid rgb(206, 28, 73);
        box-shadow: 0px 0px 1px 1px rgb(206, 28, 73);
        transition: all 0.25s;
      }
    }

    .remove_button {
      margin: 0 0 15px 0;
      width: 55px; height: 30px;
      align-self: center;
      border-radius: 50px;
      font-size: 16px;
      background-color: rgb(206, 28, 73);
      color: white;

      &:hover {
        background-color: rgb(163, 33, 66);
      }
    }
  }

  .add_modal {
    width: 80%;
    height: 70%;

    .MessageLabel {
      margin: 0 0 20px 0;
      box-sizing: border-box;
    }

    .ModalBody {
      height: 100%;
      display: flex; flex-direction: column;
      text-align: center;
      overflow-y: scroll;

      .label {
        line-height: 50px;
      }

      .VoucherCard {
        margin: 0 25px 50px 25px;
        display: inline-block;
        font-size: 16px;
      }
    }
  }
}