.TradeWriterPage {
  margin: 0 5%;

  form {
    display: flex; flex-direction: column;
    text-align: center;

    .title-label {
      margin-top: 1.25rem;
      font-size: 2.25rem;
    }

    .MessageLabel {
      margin: 0 0 1.25rem 0;
    }

    .label {
      align-self: flex-start;
      font-size: 1.25rem;
      margin: 1rem 0 1rem 0;
    }

    .label_area {
      margin: 1.25rem 0;
      display: flex;
  
      .add_button {
        width: 3.125rem; height: 2.188rem;
        align-self: center;
        margin-left: 0.625rem;
        border-radius: 3.125rem;
        font-size: 1rem;
        background-color: rgb(206, 28, 73);
        color: white;
  
        &:hover {
          background-color: rgb(163, 33, 66);
        }
      }
    }

    .Input {
      width: 100%; height: 3.15rem;
      font-size: 1rem;
    }

    .image_section {
      display: flex;

      img {
        object-fit: cover;
      }

      input[type="file"] {
        display: none;
      }
  
      .button_section {
        display: flex;
        flex-direction: column;
        justify-content: center;
  
        .Button {
          width: 5rem; height: 1.875rem;
          margin: 0 0 0.625rem 0.625rem;
        }
      }
    }

    .want_amount_section {
      align-self: flex-start;

      .Select {
        width: 12.5rem; height: 2.5rem;
        margin-left: 0.313rem;
        align-self: center;
      }
    }

    .submit_section {
      margin-top: 0.625rem;
      align-self: flex-end;
  
      .Button {
        width: 6.25rem; height: 3.125rem;
        margin-left: 1rem;
      }
    }
  }

  .add_modal {
    width: 80%;
    height: 70%;

    .MessageLabel {
      margin: 0 0 1.25rem 0;
      box-sizing: border-box;
    }

    .ModalBody {
      height: 100%;
      display: flex; flex-direction: column;
      text-align: center;
      overflow-y: scroll;

      .label {
        line-height: 3.125rem;
      }

      .VoucherCard {
        margin: 0 1.563rem 3.125rem 1.563rem;
        display: inline-block;
        font-size: 1rem;
      }
    }
  }

  .search_area {
    // min-width: 31.25rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    .search {
      display: flex;
      flex-direction: column;

      .label {
        margin: 0 0 0.25rem 0.5rem;
        font-size: 1.5rem;
        font-weight: bold;
      }

      .Select {
        width: 12.5rem; height: 2.5rem;
        margin-left: 0.313rem;
        align-self: center;
      }
    }
  }

  .card_section {
    margin-top: 0.625rem;
    text-align: center;

    .VoucherCard {
      margin: 0 1.563rem 3.125rem 1.563rem;
      display: inline-block;

      &.active {
        outline: none;
        border: 1px solid rgb(206, 28, 73);
        box-shadow: 0px 0px 1px 1px rgb(206, 28, 73);
        transition: all 0.25s;
      }
    }

    .ImageCard {
      margin: 0 1.563rem 3.125rem 1.563rem;
      display: inline-block;

      p {
        margin: 0;
        padding: 0;
        line-height: 2.5rem;
        font-size: 1rem;
      }

      &.active {
        outline: none;
        border: 1px solid rgb(206, 28, 73);
        box-shadow: 0px 0px 1px 1px rgb(206, 28, 73);
        transition: all 0.25s;
      }
    }

    .remove_button {
      margin: 0 0 1rem 0;
      width: 3.438rem; height: 1.875rem;
      align-self: center;
      border-radius: 3.125rem;
      font-size: 1rem;
      background-color: rgb(206, 28, 73);
      color: white;

      &:hover {
        background-color: rgb(163, 33, 66);
      }
    }
  }

  .cancel_button {
    background-color: #ececec;

    &:hover {
      background: gainsboro;
    }
  }

  .submit_button {
    color: white;
    background-color: rgb(206, 28, 73);

    &:hover {
      background-color: rgb(163, 33, 66);
    }
  }

  @media screen and (max-width: 650px) {
    .search_area {
      width: 90%;
      flex-direction: column;

      .search {
        width: 100%;
        margin-bottom: 1rem;
      }

      .label {
        width: 100%;
        // text-align: center;
        margin: 0;
        padding: 0;
      }
    }
  }
}