.DeliveryInfoPage{
  
      .h{
        font:bold;
        margin: 20px 0;
      font-size: 36px;
      text-align: center;
      }
      .delivery{
        margin: 0px 80px; padding: 0;
        display: flex;
        justify-content: center;
     
        form{
         
            padding: 80px 140px;
            width: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid grey;
        
            .none{
              color: darkgrey;
            }

            .btn {
              margin:100px 0 0 0;
              width: 80%; height: 50px;
              margin-bottom: -50px;
              font-size: 16px;
              background-color: rgb(206, 28, 73);
              color: white;
          
              &:hover {
                background-color: rgb(163, 33, 66);
              }
            }
        }
        
      }
      .delivery1{
        margin: 0px 0 0px 600px; 
        display: flex;
        justify-content: center;
        .btn {
            margin:40px 0;
            width: 100%; height: 50px;
            margin-bottom: 20px;
            font-size: 16px;
            background-color: rgb(206, 28, 73);
            color: white;
      
          &:hover {
            background-color: rgb(163, 33, 66);
          }
        }
      }
}