.UserInfoPage{
  
      .title-label{
        font:bold;
          margin: 20px 0;
          font-size: 36px;
          text-align: center;
          }
      
      .InfoManage_sec{
        margin: 20px 100px; padding: 40px 0;
        display: flex;
        justify-content: center;
      
          form{
       
            width: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
     
        table{
            margin:30px;
            border-collapse: collapse;
            height: 300px;
            width: 750px;
          tr{
              th{
                border: 1px solid grey;
                
                
              }
              .b{
                background-color: #e5e5e5;
                text-align: center;
              }
            }

        }
        .submit_section {
          align-self: flex-end;
      
          .Button {
            width: 100px; height: 50px;
            margin: 15px 0 0 15px;
          }
        }
      
        .edit_button {
          color: white;
          background-color: rgb(33, 52, 163);
      
          &:hover {
            background-color: rgb(33, 52, 163);
          }
        }
      
        .withdrawal_button {
          color: white;
          background-color: rgb(206, 28, 73);
      
          &:hover {
            background-color: rgb(163, 33, 66);
          }
        }
      }
    }
}